<% content_for :after_defaults do %>
    <%= stylesheet_link_tag 'jquery-ui/styles', 'jquery.tablesorter' %>
    <%= javascript_include_tag 'jquery-ui', 'jquery.tablesorter' %>
    <%= javascript_include_tag "jquery-ui.datepicker-#{I18n.locale}" %>

    <%= javascript_tag "$(
            function(){
                $('#report').tablesorter({widgets:['zebra']});
                owgm.dateRangePicker();
            }
    );" %>
<% end %>


<div class="grid_12">
  <div class="box">
    <h1><%=t :Availability_report_for, :wisp => @wisp.name %></h1>

    <div class="box">
      <h5><%=t :Filter_data_by_date %></h5>

      <form action="<%= wisp_activity_histories_path %>" method="get">
          <%= text_field_tag 'from', l(@from) %>
          <strong>-</strong>
          <%= text_field_tag 'to', l(@to) %>
          <%= tag(:input, :type => 'submit', :value => t(:Update)) %>
      </form>
    </div>


    <table id="report" class="tablesorter">
      <thead>
      <tr>
        <th class="header"><%=t :Name %></th>
        <th><%=t :Address %></th>
        <th><%=t :City %></th>
        <th><%=t :Description %></th>
        <th class="green center small"><%=t :Up %></th>
        <th class="red center small"><%=t :Down %></th>
      </tr>
      </thead>

      <tbody>
      <% @hotspots.each do |hotspot| %>
          <tr>
            <td><%= link_to hotspot.hostname, [@wisp, hotspot] %></td>
            <td><%= hotspot.address %></td>
            <td><%= hotspot.city %></td>
            <td><%= hotspot.description %></td>
            <td class="center"><%= hotspot.up_average @from, @to %>%</td>
            <td class="center"><%= hotspot.down_average @from, @to %>%</td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
