<div class="grid_12">
  <div class="box">
    <h1><%=t :Wisp_list %></h1>

    <table>
      <thead>
      <tr>
        <th><%=t :Name %></th>
        <th><%=t :Notes %></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th class="green"><%=t :Up %></th>
        <th class="red"><%=t :Down %></th>
        <th><%=t :Unknown %></th>
        <th>&nbsp;</th>
      </tr>
      </thead>

      <tbody>
      <% @wisps.each do |wisp| %>
          <% if auth?(:wisps_viewer) || auth?(:wisp_access_points_viewer, wisp) %>
              <tr class="<%= cycle 'odd', 'even' %>">
                <td><%= link_to wisp.name, wisp_access_points_path(wisp) %></td>
                <td colspan="3"><%= wisp.notes %></td>
                <td class="center"><%= wisp.access_points_up.count %></td>
                <td class="center"><%= wisp.access_points_down.count %></td>
                <td class="center"><%= wisp.access_points_unknown.count %></td>
                <td><%= link_to t(:Availability_report), wisp_availability_report_path(wisp) %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>

    <% if auth? :wisps_viewer %>
        <h6><%= link_to t(:Show_all_access_points), access_points_path %></h6>
    <% end %>
  </div>
</div>
