<% clients = @hotspot.clients %>

<h2><%=t :Connected_clients %> (<%= clients.count %>)</h2>
<p>&nbsp;</p>


<% unless clients.empty? %>
    <table>
      <thead>
      <tr>
        <th class="center"><%=t :Interface_address %></th>
        <th class="center"><%=t :Interface_vendor %></th>
        <th class="center"><%=t :Last_activity %></th>
      </tr>
      </thead>

      <tbody>
      <% @hotspot.clients.each do |client| %>
          <tr>
            <td class="center"><%= client.mac_address %></td>
            <td class="center"><%= client.vendor %></td>
            <td class="center"><%=l client.last_activity %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h5 class="center"><%=t :There_are_no_connected_clients %></h5>
    <p>&nbsp;</p>
<% end %>
