<h5><%=t :Hotspot_info %></h5>
<table>
  <tbody class="hover">
    <tr>
      <td><strong><%=t :Hostname %></strong></td>
      <td class="hostname"></td>
    </tr>
    <tr>
      <td><strong><%=t :Address %></strong></td>
      <td class="address"></td>
    </tr>
    <tr>
      <td><strong><%=t :City %></strong></td>
      <td class="city"></td>
    </tr>			
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" class="center"><a href="" class="url"><%=t :Details %></a></td>
    </tr>
  </tbody>
</table>
