<% if hotspot.is_a? Array %>

	<h5><%=t :Cluster_info %></h5>
	<table>
		<thead>
			<tr>
				<th><%=t :Status %></th>
				<th class="center"><%=t :Hostname %></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% hotspot.each do |hs| %>
				<tr>
					<td class="_hover"><%= image_tag hs.marker_image, :size => "30x35" %></td>
					<td class="_hover middle center"><%= hs.hostname %></td>
					<td class="_hover middle center"><%= link_to t(:details), hs %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
<% else %>

	<% if local_assigns[:single_hotspot] %>
		<p><h5 class="center middle"><%= hotspot.hostname %></h5></p>		
	<% else %>
		<h5><%=t :Hotspot_info %></h5>
		<table>
		  <tbody>
				<tr>
			    <td class="_hover"><strong><%=t :Hostname %></strong></td>
			    <td class="_hover"><%= hotspot.hostname %></td>
			  </tr>
			  <tr>
			    <td class="_hover"><strong><%=t :Address %></strong></td>
			    <td class="_hover"><%= hotspot.address %></td>
			  </tr>
			  <tr>
			    <td class="_hover"><strong><%=t :City %></strong></td>
			    <td class="_hover"><%= hotspot.city %></td>
			  </tr>			
			  <tr>
			    <td colspan="2">&nbsp;</td>
			  </tr>
			  <tr>
			    <td colspan="2" class="center"><%= link_to t(:Details), hotspot %></td>
			  </tr>
			</tbody>
		</table>
	<% end %>
	
<% end %>