<div class="grid_12">
	<div class="box">
		<h2><%=t :Hotspots_map %></h2>
		<br />
		<div id="hotspots_map">
			<%= render 'hotspots_map' %>
		</div>
	</div>

	<div class="clear"></div>

	<div class="box">
		<h2><%=t :Hotspots %></h2>

		<br />
		
		<table>
			<thead id="hotspots_thead">
				<%= render 'hotspots_thead' %>
			</thead>
			
			<tbody id="hotspots">
				<%= render @hotspots %>	
			</tbody>
		</table>
	
		<div id="hotspots_quicksearch">
			<%= render 'hotspots_quicksearch', :div_id => 'hotspots_quicksearch' %>
		</div>

		<div id="hotspots_paginate">
			<%= remote_paginate @hotspots, :div_id => "hotspots_paginate" %>
		</div>
		<br />
		<br />
		
	</div>
</div>
