<%#
# This file is part of the OpenWISP Geographic Monitoring
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<h2><%=t :More_info %></h2>
<br />

<div class="box with_border">
  <h4><%=t :Description %></h4>
  <br/>

  <p><%= @access_point.description.empty? ? t(:No_description_available) : nl2br(@access_point.description) %></p>
</div>

<div class="box with_border">
  <h4><%=t :Site_description %></h4>
  <p>
    <%=t :Will_be_rendered_in_georss %><br/>
    <span id="clickable_site_description"><strong>(<%=t :Click_to_edit %>)</strong></span>
  </p>

  <p id="site_description"><%= @access_point.site_description.blank? ? t(:No_site_description_available) : nl2br(@access_point.site_description) %></p>
</div>

<div class="box with_border">
  <h4><%=t :Notes %></h4>
  <p><span id="clickable_notes"><strong>(<%=t :Click_to_edit %>)</strong></span></p>

  <p id="notes"><%= @access_point.notes.blank? ? t(:No_notes_available) : nl2br(@access_point.notes) %></p>
</div>