<%#
# This file is part of the OpenWISP Geographic Monitoring
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% content_for :after_defaults do %>
    <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false&v=3.9', 'gmaps.markermanager', 'owgm.gmaps' %>
<% end %>

<div id="gmap_index">
  <p class="no_js"><%=t :No_javascript %></p>
</div>

<br />
<p>
  <strong><%=t :Show %>:</strong>
  <% active = params[:filter] || 'all' %>

  <%= link_to t(:all),
      @wisp ? wisp_access_points_path(@wisp, :filter => 'all') : {:filter => 'all'},
      :class => (active == 'all' ? 'hl' : 'nohl')
  %>
  <%= link_to t(:up),
      @wisp ? wisp_access_points_path(@wisp, :filter => 'up') : {:filter => 'up'},
      :class => (active == 'up' ? 'hl' : 'nohl')
  %>
  <%= link_to t(:down),
      @wisp ? wisp_access_points_path(@wisp, :filter => 'down') : {:filter => 'down'},
      :class => (active == 'down' ? 'hl' : 'nohl')
  %>
  <%= link_to t(:unknown),
      @wisp ? wisp_access_points_path(@wisp, :filter => 'unknown') : {:filter => 'unknown'},
      :class => (active == 'unknown' ? 'hl' : 'nohl')
  %>
</p>

