<label class="hastip" title="<%= t :Select_all_title %>">
    <input type="checkbox" class="select-all-checkbox">
    <a class="select-all" href="#select-all"><%= t :Select_all %></a>
</label>

<div class="select-actions-container">
    <div class="batch-actions">
        <select data-fail-message="<%= t :No_access_point_selected %>"
                data-select-group-href="<%= select_group_url_if_wisp_loaded %>"
                data-change-property-href="<%= change_property_access_points_path %>">
            <option value="0" selected="selected"><%= t :Select_action %></option>
            <option value="group"><%= t :Change_group_action %></option>
            <option value="favourite_1"><%= t :Add_to_favourite_action %></option>
            <option value="favourite_0"><%= t :Remove_from_favourite_action %></option>
            <option value="public_1"><%= t :Publish_action %></option>
            <option value="public_0"><%= t :Unpublish_action %></option>
        </select>
    </div>
</div>