<input type="checkbox" class="select-all-checkbox">
<a class="select-all" href="#select-all" title="<%= t :Select_all_title %>"><%= t :Select_all %></a>
<a class="batch-change-group" href="<%= select_group_url_if_wisp_loaded %>" data-fail-message="<%= t :No_access_point_selected %>" title="<%= t :Change_group_title %>">
    <%= t :Change_group %>
</a>