<%#
# This file is part of the OpenWISP Geographic Monitoring
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% content_for :after_defaults do %>
    <%= stylesheet_link_tag 'jquery-ui/styles' %>
    <%= javascript_include_tag(
        'highcharts',
        'highcharts.exporting',
        'jquery-ui',
        'owgm.graphs',
        'owgm.activity_graph',
        'owgm.activity_histories_graph',
        'owgm.associated_users_graph',
        'owgm.associated_user_histories_graph'
    ) %>

    <% if @wisp.owums_enabled? %>
        <%= javascript_include_tag(
            'owums.graphs',
            'owums.traffic_graph',
            'owums.logins_graph'
        ) %>
    <% end %>

    <% if @wisp.datawarehouse_enabled? %>
        <%= javascript_include_tag(
            'datawarehouse.activities_graph'
        ) %>
    <% end %>
<% end %>

<% if @access_point.known? %>
    <% if @wisp.owums_enabled? and (auth?(:wisps_viewer) or auth?(:wisp_associated_user_counts_viewer, @wisp)) %>
        <div class="grid_12">
            <div class="box large-graph-container" id="stats-usage">
                <h2>
                    <a href="#" class="toggle<% if CONFIG['ap_stats_collapsed'] %> hidden<% end %>">
                        <%= t(:Usage_stats) %>
                        <span class="arrow" data-show="&#x25BC;" data-hide="&#x25B2;">&#x25BC;</span>
                    </a>
                </h2>

                <div class="container<% if CONFIG['ap_stats_collapsed'] %> hidden<% end %>">
                    <div class="box" id="stats-interval" data-url="<%= wisp_export_stats_path %>">
                        <%= form_tag '', :method => :get do %>
                            <strong><%=t :Interval %></strong>:
                            <%= text_field_tag 'from', l(@from) %>
                            <strong>-</strong>
                            <%= text_field_tag 'to', l(@to) %>
                            <%= hidden_field_tag 'mac', @access_point.common_name %>
                            <button type="submit"><%= t(:Update) %></button>
                        <% end %>
                    </div>

                    <div class="block stats">
                        <div class="block big_graph" id="logins_graph" data-url="<%= wisp_logins_json_path %>">
                            <h5 class="center"><%=t :Loading_data %> <%= image_tag "spinner.gif" %></h5>
                        </div>
                    </div>

                    <div class="block stats">
                        <div class="block big_graph" id="traffic_graph" data-url="<%= wisp_traffic_json_path %>">
                            <h5 class="center"><%=t :Loading_data %> <%= image_tag "spinner.gif" %></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            if (!$('#stats-usage .container').is(':hidden')) {
                owumsGraphs.drawLogins();
                owumsGraphs.drawTraffic();
            }
            $('#stats-interval form').submit(function(e){
                e.preventDefault();
                owumsGraphs.drawLogins();
                owumsGraphs.drawTraffic();
            });
        </script>
        <div class="clear"></div>
    <% end %>

    <% if auth?(:wisps_viewer) || auth?(:wisp_activity_histories_viewer, @wisp)%>
        <div class="grid_6">
          <div class="box">
            <h2><%=t :Activity_average_graph %></h2>
            <p class="howto right bold">(<%=t :Click_and_drag_to_zoom_in %>)</p>
            <p class="no_js"><%=t :No_javascript %></p>
            <div id="activity_histories_graph"></div>
            <p>&nbsp;</p>
          </div>
        </div>
    <% end %>

    <% if auth?(:wisps_viewer) || auth?(:wisp_activities_viewer, @wisp)%>
        <div class="grid_6">
          <div class="box">
            <h2><%=t :Activity_graph %></h2>
            <p>&nbsp;</p>
            <p class="no_js"><%=t :No_javascript %></p>
            <div id="activity_graph"></div>
            <p>&nbsp;</p>
          </div>
        </div>
    <% end %>

    <% if @wisp.datawarehouse_enabled? and (auth?(:wisps_viewer) or auth?(:wisp_associated_user_counts_viewer, @wisp)) %>
        <div class="grid_12">
            <div class="box large-graph-container" id="stats-activities">
                <h2>
                    <a href="#" class="toggle<% if CONFIG['ap_stats_collapsed'] %> hidden<% end %>">
                        <%= t(:Activity_average_archive) %>
                        <span class="arrow" data-show="&#x25BC;" data-hide="&#x25B2;">&#x25BC;</span>
                    </a>
                </h2>

                <div class="container<% if CONFIG['ap_stats_collapsed'] %> hidden<% end %>">
                    <div class="box stats-interval" id="activities-interval">
                        <%= form_tag '', :method => :get do %>
                            <strong><%=t :Interval %></strong>:
                            <%= text_field_tag 'paramStartDate', l(@from - 1.month) %>
                            <strong>-</strong>
                            <%= text_field_tag 'paramStopDate', l(@to - 1.month) %>
                            <%= hidden_field_tag 'parammacaddress', @access_point.common_name.upcase %>
                            <button type="submit"><%= t(:Update) %></button>
                        <% end %>
                    </div>

                    <div class="block big_graph stats" id="activities_graph" data-url="<%= wisp_activities_json_path %>">
                        <h5 class="center"><%=t :Loading_data %> <%= image_tag "spinner.gif" %></h5>
                    </div>
                </div>
            </div>
        </div>
        <script>
            if (!$('#stats-activities .container').is(':hidden')) {
                graphs.drawActivityArchive();
            }
            $('#stats-activities form').submit(function(e){
                e.preventDefault();
                graphs.drawActivityArchive();
            });
        </script>
        <div class="clear"></div>
    <% end %>

    <% if @wisp.owmw_enabled? and CONFIG['user_counts_graphs'] %>
        <% if auth?(:wisps_viewer) || auth?(:wisp_associated_user_count_histories_viewer, @wisp)%>
            <div class="grid_6">
              <div class="box">
                <h2><%=t :Associated_users_average_graph %></h2>
                <p class="howto right bold">(<%=t :Click_and_drag_to_zoom_in %>)</p>
                <p class="no_js"><%=t :No_javascript %></p>
                <div id="associated_user_histories_graph"></div>
                <p>&nbsp;</p>
              </div>
            </div>
        <% end %>

        <% if auth?(:wisps_viewer) || auth?(:wisp_associated_user_counts_viewer, @wisp)%>
            <div class="grid_6">
              <div class="box">
                <h2><%=t :Associated_users_graph %></h2>
                <p>&nbsp;</p>
                <p class="no_js"><%=t :No_javascript %></p>
                <div id="associated_user_counts_graph"></div>
                <p>&nbsp;</p>
              </div>
            </div>
        <% end %>
    <% end %>
<% else %>
    <br />
    <h5 class="nodata center"><%=t :No_data_to_display %></h5>
    <br />
<% end %>
