<%#
# This file is part of the OpenWISP Geographic Monitoring
#
# Copyright (C) 2010 CASPUR (wifi@caspur.it)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<h2><%=t :Info %></h2>
<br />
<table>
  <tbody class="hover">
  <tr>
    <td><strong><%=t :Hostname %></strong></td>
    <td class="right"><%= @access_point.hostname %></td>
  </tr>
  <tr>
    <td><strong><%=t :Address %></strong></td>
    <td class="right"><%= @access_point.address %></td>
  </tr>
  <tr>
    <td><strong><%=t :City %></strong></td>
    <td class="right"><%= @access_point.city %></td>
  </tr>
  <tr>
    <td><strong><%=t :Status %></strong></td>
    <td class="right">
      <% if @access_point.up? %>
          <%=t :up %>
      <% elsif @access_point.down? %>
          <%=t :down %>
      <% elsif @access_point.unknown? %>
          <%=t :unknown %>
      <% end %>
      <%= image_tag_for @access_point, :id => 'hs_icon', :class => 'hidden' %>
    </td>
  </tr>
  <tr>
    <td><strong><%=t :Ip_addr %></strong></td>
    <td class="right"><%= @access_point.ip %></td>
  </tr>
  <tr>
    <td><strong><%=t :Coordinates %></strong></td>
    <td class="right"><%= @access_point.lat %>, <%= @access_point.lng %></td>
  </tr>
  <tr>
    <td><strong><%=t :Activation_date %></strong></td>
    <td class="right"><%=l @access_point.activation_date rescue '-' %></td>
  </tr>
  <tr>
    <td><strong><%=t :Earliest_seen %></strong></td>
    <td class="right"><%= l(@access_point.earliest_seen, :format => :short) rescue '-' %></td>
  </tr>
  <tr>
    <td><strong><%=t :Latest_seen %></strong></td>
    <td class="right"><%= l(@access_point.latest_seen, :format => :short) rescue '-' %></td>
  </tr>
  <tr>
    <td><strong><%=t :Public_on_Georss %></strong> (<%=t :click_to_edit %>)</td>
    <td id="public" class="right"><%=t @access_point.public ? :true : :false %></td>
  </tr>
  <tr>
    <td><strong><%=t :Category %></strong> (<%=t :click_to_edit %>)</td>
    <td id="category" class="right">
      <span id="category_select"><%= @access_point.category.present? ? @access_point.category : t(:None) %></span>
      <span id="category_text"></span>
    </td>
  </tr>
  </tbody>
</table>
