<% content_for :after_defaults do %>
    <%= javascript_include_tag 'highcharts', 'owgm.graphs', 'owgm.activity_graph', 'owgm.associated_users_graph', 'owgm.associated_user_histories_graph'  %>
<% end %>

<% if @access_point.known? %>
    <% if auth?(:wisps_viewer) || auth?(:wisp_activity_histories_viewer, @wisp)%>
        <div class="grid_12">
          <div class="box">
            <h2><%=t :Activity_graph %></h2>
            <p class="howto right bold">(<%=t :Click_and_drag_to_zoom_in %>)</p>
            <p class="no_js"><%=t :No_javascript %></p>
            <div id="activity_graph"></div>
          </div>
        </div>
    <% end %>

    <% if @wisp.owmw_enabled? %>
        <% if auth?(:wisps_viewer) || auth?(:wisp_associated_user_counts_viewer, @wisp)%>
            <div class="grid_6">
              <div class="box">
                <h2><%=t :Associated_users_graph %></h2>
                <p>&nbsp;</p>
                <p class="no_js"><%=t :No_javascript %></p>
                <div id="associated_user_counts_graph"></div>
              </div>
            </div>
        <% end %>

        <% if auth?(:wisps_viewer) || auth?(:wisp_associated_user_count_histories_viewer, @wisp)%>
            <div class="grid_6">
              <div class="box">
                <h2><%=t :Associated_users_average_graph %></h2>
                <p class="howto right bold">(<%=t :Click_and_drag_to_zoom_in %>)</p>
                <p class="no_js"><%=t :No_javascript %></p>
                <div id="associated_user_histories_graph"></div>
              </div>
            </div>
        <% end %>
    <% end %>
<% else %>
    <br />
    <h5 class="nodata center"><%=t :No_data_to_display %></h5>
    <br />
<% end %>
