<%#
# This file is part of the OpenWISP Geographic Monitoring
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% content_for :js_templates do %>
    <%= render 'marker_info_window_templates' %>
<% end %>

<div class="grid_12">
  <div class="box">
    <h2><a id="map_toggle" href="#"<% if not @showmap: %> class="hidden"<% end %>><%=t :Access_points_map %></a></h2>
    <div id="map_container"<% if not @showmap: %> style="display:none"<% end %>>
	<br />
	<div id="access_points_map">
	  <%= render 'access_points_map' %>
	</div>
	<div id="map_loading" class="hidden">
	  <p><%=t :Loading %> <%=t :markers%> <%= image_tag 'spinner.gif', :size => '22x22' %></p>
	</div>
    </div>
  </div>

  <div class="clear"></div>

  <div class="box">
    <h2>
      <%=t :Access_point %>
      <span class="rfloat">
	<% if @wisp.present? %>
	  <%=t :up %>: <%= @wisp.access_points_up.count %>
          <%=t :down %>: <%= @wisp.access_points_down.count %>
          <%=t :unknown %>: <%= @wisp.access_points_unknown.count %>
	<% else %>
	  <%=t :up %>: <%= AccessPoint.up.count %>
          <%=t :down %>: <%= AccessPoint.down.count %>
          <%=t :unknown %>: <%= AccessPoint.unknown.count %>
	<% end %>
      </span>
    </h2>

    <br />

    <table>
      <thead id="access_points_thead">
      <%= render 'access_points_thead' %>
      </thead>

      <tbody id="access_points">
      <%= render @access_points %>
      </tbody>
    </table>

    <div id="access_points_quicksearch" class="bold">
      <%= render 'access_points_quicksearch' %>
    </div>

    <div id="access_points_paginate">
      <%= paginate @access_points, :remote => true %>
    </div>
    <br />

    <div id="loading" class="hidden">
      <p><%=t :Loading %> <%= image_tag 'spinner.gif' %></p>
    </div>
    <br />

  </div>
</div>
