<%#
# This file is part of the OpenWISP Geographic Monitoring
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:georss="http://www.georss.org/georss">
  <channel>
    <title><%= "#{@wisp.name} " rescue nil %>GeoRSS feed</title>
    <link>http://openwisp.org/</link>
    <author>
      <name>OpenWISP.org</name>
      <email>coreteam@openwisp.org</email>
    </author>
    <description><%= "#{@wisp.name} " rescue nil %>Access Points</description>
    <language>en-us</language>
    <% @access_points.each do |ap| %>
        <item>
          <guid><%= ap.hostname %><%= ap.created_at %></guid>
          <title><%= ap.site_description %></title>
          <% if params[:details] %>
              <category><%= ap.category %></category>
          <% end %>
          <% if params[:details] %>
              <description><%= ap.address %> - <%= ap.city %></description>
          <% else %>
              <description><%= ap.city %></description>
          <% end %>
          <% if params[:details] %>
              <georss:lat><%= ap.lat %></georss:lat>
              <georss:long><%= ap.lng %></georss:long>
          <% else %>
              <georss:point><%= ap.lat %> <%= ap.lng %></georss:point>
          <% end %>
          <pubDate><%= ap.created_at %></pubDate>
          <updated><%= ap.updated_at %></updated>
          <%= ap.created_at %>
        </item>
    <% end %>
  </channel>
</rss>
