<%#
# This file is part of the OpenWISP Geographic Monitoring
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% content_for :after_defaults do %>
    <%= stylesheet_link_tag 'jquery-ui/styles' %>
    <%= javascript_include_tag 'jquery-ui', 'jquery.combobox'%>
<% end %>
<% content_for :js_templates do %>
    <%= render 'marker_info_window_templates' %>
<% end %>

  <div class="grid_12">
		<% if @access_points.length > 0 %>
		<div class="box">
			<h2><a id="map_toggle" href="#"<% if not @showmap: %> class="hidden"<% end %>><%=t :Access_points_map %> <span class="arrow" data-show="&#x25BC;" data-hide="&#x25B2;">&#x25BC;</span></a></h2>
			
			<div id="map_container"<% if not @showmap: %> style="display:none"<% end %>>
		  <br />
				<div id="access_points_map">
					<%= render 'access_points_map' %>
				</div>
				<div id="map_loading" class="hidden">
					<p><%=t :Loading %> <%=t :markers%> <%= image_tag 'spinner.gif', :size => '22x22' %></p>
				</div>
		  </div>
		</div>
		<% end %>

  <div class="clear"></div>

  <div class="box">
    <h2>
    <% if @wisp.present? and @group.nil? %>
				<%= t(:Access_points_of_wisp, :wisp => @wisp.name).html_safe %>
		<% elsif @group.present? %>
				<%= t(:Access_points_of_wisp_group, :wisp => @wisp.name, :group => @group.name).html_safe %>
		<% else %>
				<%= t :Access_points_of_every_wisp %>
		<% end %>
				
			<% if @access_points.length > 0 %>
      <span class="rfloat">
				<% if @group.present? and @group.monitor %>
						<%= show_stat(:up, @group.up) %>
						<%= show_stat(:down, @group.down) %>
						<%= show_stat(:unknown, @group.unknown) %>
						<%= show_stat(:favourites, @group.favourite) %>
						<%= show_stat(:total, @group.total) %>
				<% elsif @group.present? %>
						<%= t :Monitoring_disabled_for_group %>
						<%= show_stat(:favourites, @group.favourite) %>
						<%= show_stat(:total, @group.total) %>
				<% elsif @wisp.present? and not @favourite %>
						<%= show_stat(:up, @wisp.count_access_points(:up)) %>
						<%= show_stat(:down, @wisp.count_access_points(:down)) %>
						<%= show_stat(:unknown, @wisp.count_access_points(:unknown)) %>
						<%= show_stat(:favourites, @wisp.count_access_points(:favourite)) %>
						<%= show_stat(:total, @wisp.count_access_points(:total)) %>
				<% elsif @wisp.present? and @favourite %>
						<%= show_stat(:up, AccessPoint.favourite(:up, @wisp).count) %>
						<%= show_stat(:down, AccessPoint.favourite(:down, @wisp).count) %>
						<%= show_stat(:unknown, AccessPoint.favourite(:unknown, @wisp).count) %>
						<%= show_stat(:favourites, @wisp.count_access_points(:favourite)) %>
				<% elsif not @favourite %>
						<%= show_stat(:up, AccessPoint.up.count) %>
						<%= show_stat(:down, AccessPoint.down.count) %>
						<%= show_stat(:unknown, AccessPoint.unknown.count) %>
						<%= show_stat(:favourites, AccessPoint.favourite.count) %>
						<%= show_stat(:total, AccessPoint.total.count) %>
				<% end %>
      </span>
			<% end %>
    </h2>

<% if @access_points.length > 0 %>
    <div id="access_points_quicksearch" class="bold">
      <%= render 'access_points_quicksearch' %>
    </div>
		
		<div class="actions">
				<%= render 'access_points_actions' %>
		</div>

    <table id="access_points_list">
				<thead id="access_points_thead">
						<%= render 'access_points_thead' %>
				</thead>
				<tbody id="access_points">
						<%= render @access_points %>
				</tbody>
    </table>
		
    <div id="page_controls">
				<div id="access_points_paginate">
						<%= paginate @access_points, :left => 1, :right => 7, :remote => true %>
				</div>
				<div id="combobox">
						<select>
								<% @access_point_pagination.reverse.each do |item| %>
								<option value="<%= item['value'] %>"<% if item['default'] %> selected="selected"<% end %>><%= item['value'] %></option>
								<% end %>
						</select>
				</div>
    </div>
		
		<div class="actions bottom">
				<%= render 'access_points_actions' %>
		</div>
		
		<br style="clear:both">
		
<% else %>
		<p class="empty-page-msg"><%= t :No_AP %></p>
<% end %>
  </div>
</div>