<%#
# This file is part of the OpenWISP Geographic Monitoring
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% content_for :after_defaults do %>
    <%= stylesheet_link_tag 'jquery-ui/styles' %>
    <%= javascript_include_tag 'jquery-ui', 'jquery.combobox' %>
<% end %>
<% content_for :js_templates do %>
    <%= render 'marker_info_window_templates' %>
<% end %>


  <div class="grid_12">
		<% if @access_points.length > 0 %>
		<div class="box">
			<h2><a id="map_toggle" href="#"<% if not @showmap: %> class="hidden"<% end %>><%=t :Access_points_map %></a></h2>
			
			<div id="map_container"<% if not @showmap: %> style="display:none"<% end %>>
		  <br />
				<div id="access_points_map">
					<%= render 'access_points_map' %>
				</div>
				<div id="map_loading" class="hidden">
					<p><%=t :Loading %> <%=t :markers%> <%= image_tag 'spinner.gif', :size => '22x22' %></p>
				</div>
		  </div>
		</div>
		<% end %>

  <div class="clear"></div>

  <div class="box">
    <h2>
    <% unless @group.present? %>
				<%=t :Access_point %>
		<% else %>
				<%=t :Access_points_of_group, :group => @group.name %>
		<% end %>
				
			<% if @access_points.length > 0 %>
      <span class="rfloat">
				<% if @group.present? and @group.monitor %>
						<%=t :up %>: <%= @group.up %>
						<%=t :down %>: <%= @group.down%>
						<%=t :unknown %>: <%= @group.unknown %>
				<% elsif @group.present? %>
						<%= t :Monitoring_disabled_for_group %>
				<% elsif @wisp.present? %>
						<%=t :up %>: <%= @wisp.access_points_up.count %>
						<%=t :down %>: <%= @wisp.access_points_down.count %>
						<%=t :unknown %>: <%= @wisp.access_points_unknown.count %>
				<% else %>
						<%=t :up %>: <%= AccessPoint.up.count %>
						<%=t :down %>: <%= AccessPoint.down.count %>
						<%=t :unknown %>: <%= AccessPoint.unknown.count %>
				<% end %>
      </span>
			<% end %>
    </h2>

		<% if @access_points.length > 0 %>
    <div id="access_points_quicksearch" class="bold">
      <%= render 'access_points_quicksearch' %>
    </div>
		
		<div class="actions">
				<%= render 'access_points_actions' %>
		</div>

    <table id="access_points_list">
				<thead id="access_points_thead">
						<%= render 'access_points_thead' %>
				</thead>
				<tbody id="access_points">
						<%= render @access_points %>
				</tbody>
    </table>
		
    <div id="page_controls">
				<div id="access_points_paginate">
						<%= paginate @access_points, :remote => true %>
				</div>
				<div id="combobox">
						<select>
								<% @access_point_pagination.reverse.each do |item| %>
								<option value="<%= item['value'] %>"<% if item['default'] %> selected="selected"<% end %>><%= item['value'] %></option>
								<% end %>
						</select>
				</div>
    </div>
		
		<div class="actions bottom">
				<%= render 'access_points_actions' %>
		</div>
		
		<br style="clear:both">
		
		<% else %>
				<p class="empty-page-msg"><%= t :No_AP %></p>
		<% end %>
  </div>
</div>

<script>
		owgm.initBatchGroupSelection("<%= change_group_access_points_path %>");
		$('#access_points_list a.toggle-public').live('click', function(e){
				el = $(this);
				owgm.toggleProperty(el.attr('data-href'), function(result){
						el.find('img').attr('src', result.image)
				});
		});
</script>