<% unless @radius_sessions.nil? %>
	<% @radius_sessions.each do |ra| %>
	<tr <%= cycle('even', 'odd') %>>
            <% if auth?(:wisps_viewer) || auth?(:wisp_username_viewer, @wisp)%>
		<td class="username"><%= ra.username %></td>
	    <% else %>
		<td class="username">xxxx.<%= ra.username.slice(-5, ra.username.length)%></td>
	    <% end %>
		<td class="ip"><%= ra.framed_ip_address %></td>
		<td class="mac"><%= ra.calling_station_id %></td>
		<td class="login-date"><%= Time.parse(ra.acct_start_time).strftime('%d/%m/%Y %H:%M') %></td>
		<td class="download"><%= (ra.acct_output_octets.to_f / 1024).round(2) %></td>
		<td class="upload"><%= (ra.acct_input_octets.to_f / 1024).round(2) %></td>
		<td class="logout-date">
			<% if ra.acct_stop_time.nil? %>
				<strong><%= t :online %></strong>
			<% else %>
				<%= Time.parse(ra.acct_stop_time).strftime('%d/%m/%Y %H:%M') %>
			<% end %>
		</td>
	</tr>
	<% end %>
<% end %>
