<%#
# This file is part of the OpenWISP Geographic Monitoring
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#  $('#clickable_favourite').click(function() { $('#favourite').click() });
#%>

<% content_for :after_defaults do %>
    <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false&v=3.9', 'gmaps.markermanager', 'owgm.gmaps', 'jquery.jeditable' %>

    <%= javascript_tag "$(function(){

            $('#clickable_public').click(function() { $('#public').click() });
            $('#clickable_category').click(function() { $('#category_select').click() });
            $('#clickable_site_description').click(function() { $('#site_description').click() });
            $('#clickable_notes').click(function() { $('#notes').click() });

            $('#category_select').live('change', function(){
                if ($(this).find('select').val() == '!new!') {
                    $(this).hide();
                    $('#category_text').click();
                    $('#category_text').show();
                }
            });
            $('#notes').editable('#{wisp_access_point_property_set_url(@wisp, @access_point)}', {
                submitdata: {authenticity_token:'#{form_authenticity_token}'},
                name: 'property_set[notes]', method: 'PUT',
                type: 'textarea', rows: 10,
                submit: '#{t :Ok}', cancel: '#{t :Cancel}',
                tooltip: '#{t :Click_to_edit}',
                placeholder: '#{t :No_notes_available}'
            });
            $('#site_description').editable('#{wisp_access_point_property_set_url(@wisp, @access_point)}', {
                submitdata: {authenticity_token:'#{form_authenticity_token}'},
                name: 'property_set[site_description]', method: 'PUT',
                submit: '#{t :Ok}', cancel: '#{t :Cancel}',
                tooltip: '#{t :Click_to_edit}',
                placeholder: '#{t :No_notes_available}'
            });
            $('#public').editable('#{wisp_access_point_property_set_url(@wisp, @access_point)}', {
                submitdata: {authenticity_token:'#{form_authenticity_token}'},
                name: 'property_set[public]', method: 'PUT', 
		        type: 'select', data: {'true':'#{t :true}', 'false':'#{t :false}'},
                submit: '#{t :Ok}', cancel: '#{t :Cancel}'
            });
            $('#category_select').editable('#{wisp_access_point_property_set_url(@wisp, @access_point)}', {
                submitdata: {authenticity_token:'#{form_authenticity_token}'},
                name: 'property_set[category]', method: 'PUT',
		        type: 'select', data: #{categories_select_data(@wisp, @access_point)},
                callback: function(value, settings) { location.reload(); },
                placeholder: '#{t :None}',
                submit: '#{t :Ok}', cancel: '#{t :Cancel}'
            });
            $('#category_text').editable('#{wisp_access_point_property_set_url(@wisp, @access_point)}', {
                submitdata: {authenticity_token:'#{form_authenticity_token}'},
                name: 'property_set[category]', method: 'PUT',
                submit: '#{t :Ok}', cancel: '#{t :Cancel}', width: 60,
                callback: function(value, settings) { location.reload(); },
                onreset: function() {
                    $('#category_text').hide();
                    $('#category_select').show();
                }
            });
    }); 
   
   $('#favourite').click(function() { 
            $.ajax({
                url: 'http://www.repubblica.it',
                method: 'get',
                success: function (result) {
                  alert('Your bookmark has been saved');
                }
            });  

    });"

%>
<% end %>

<div class="grid_12">
  <h1 class="mainheading"><%=t :Access_point %> “<%= @access_point.hostname %>”</h1>

  <div class="grid_6">
    <div class="box">
      <h2><%=t :Map %></h2>
      <br />
      <div id="gmap_show" data-lat="<%= @access_point.lat %>" data-lng="<%= @access_point.lng %>">
        <p class="no_js"><%=t :No_javascript %></p>
      </div>
      <br />
    </div>
  </div>

  <div class="grid_6">
    <div class="box">
      <%= render :partial => 'access_point_info' %>
    </div>
  </div>

  <div class="clear"></div>

  <%= render :partial => 'access_point_graphs' %>

  <div class="grid_12">
    <div class="box">
      <%= render :partial => 'access_point_more_info' %>
    </div>
  </div>
</div>
